@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Gill Sans", sans-serif;
  min-height: 100%;
  border: 26px solid rgba(58, 55, 55, 0.436);
}

.bike {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
}

.side--1 {
  width: 56%;
  min-height: 100%;
  background-color: rgba(139, 135, 129, 0.378);
}

.side--1 h3 {
  padding: 30px;
  color: rgba(0, 0, 0, 0.711);
}

.displayPic {
  display: flex;
  overflow: hidden;
}

.displayPic model-viewer {
  width: 980px;
  height: 440px;
  top: 5rem;
  justify-content: center;
  border: none;
}

.display2 {
  display: none;
}

.feedback {
  display: flex;
}

.messageIcon img {
  width: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 3px;
  margin-top: 160px;
  justify-content: flex-start;
  margin-left: 20px;
}

.ratingIcon img {
  width: 15px;
  margin-top: 172px;
  margin-inline-start: 398px;
}

.feedback p {
  margin-top: 172px;
  font-weight: 500;
  margin-left: 6px;
  justify-content: flex-end;
}

/*SIDE 2*/
.secondSide {
  width: 44%;
  min-height: 100%;
}

.side--2 {
  margin-right: 35px;
  margin-left: 35px;
}
.menu {
  border-bottom: solid 1px rgba(0, 0, 0, 0.121);
  padding-bottom: 15px;
  margin-top: 30px;
}
.menu p {
  display: inline;
  padding-left: 15px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.62);
}
span {
  color: black;
  font-size: 800;
}

.side--2 h3 {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 800;
}

.selection {
  display: flex;
  flex-direction: column;
}

.bike--1 {
  border: solid 1px rgb(0, 0, 0);
  margin-top: 10px;
  display: flex;
}

.sample img {
  width: 70px;
  height: 60px;
  margin: 3px;
  padding: 10px;
  border-radius: 7%;
  background-color: rgba(139, 135, 129, 0.378);
}

.row--1 {
  display: flex;
}
.details h3 {
  margin-left: 16px;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 800;
}

.row--1 p {
  margin-left: 100px;
  margin-top: 13px;
  font-size: 10px;
}

.row--2 {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.502);
  margin-left: 16px;
  margin-top: 5px;
}

.bike--2 {
  border: solid 1px rgba(177, 166, 166, 0.246);
  margin-top: 10px;
  display: flex;
  margin-bottom: 25px;
}

.sizes {
  border-top: solid 1px rgba(0, 0, 0, 0.121);
}

.sizes h3 {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 800;
}

.sizes p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.502);
  padding-top: 10px;
}

.choice {
  display: flex;
  margin-top: 15px;
}

.choice p {
  border: solid 1px rgba(177, 166, 166, 0.246);
  border-radius: 50%;
  color: rgb(0, 0, 0);
  margin-right: 8px;
  padding: 8px;
  font-size: 10px;
  font-weight: 800;
}

.choice span {
  color: rgba(0, 0, 0, 0.502);
}

.size {
  display: flex;
}
.size h3 {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 800;
}

.size span {
  color: rgba(0, 0, 0, 0.502);
}

.size h4 {
  color: rgb(52, 139, 226);
  margin-top: 25px;
  margin-inline-start: 222px;
  font-size: 10px;
  font-weight: 600;
}

.measurement {
  display: flex;
}

.measurement h3 {
  font-size: 9px;
  font-weight: 600;
  padding-right: 25px;
  color: rgba(0, 0, 0, 0.66);
}

.cm {
  display: flex;
  margin-top: 2px;
}

.cm p {
  font-size: 8px;
  color: rgba(0, 0, 0, 0.502);
  border: solid 1px rgba(0, 0, 0, 0.186);
  margin-top: 5px;
  margin-right: 25px;
  padding: 15px;
  padding-left: 40px;
  border-radius: 13%;
}
.cm img {
  width: 38px;
  height: 35px;
  margin-left: 5px;
  margin-top: 7px;
  background-color: rgba(207, 206, 204, 0.193);
  padding: 8px;
  border-radius: 10%;
  display: flex;
}

.main-footer {
  bottom: 0;
  display: flex;
  padding-top: 105px;
}

.footer1 {
  background-color: rgba(233, 226, 217, 0.226);
  width: 50%;
  padding-top: 35px;
  padding-left: 50px;
}

.footer1 span {
  font-size: 18px;
  color: rgb(17, 17, 17);
}

.footer2 {
  display: flex;
  width: 50%;
  background-color: rgba(139, 135, 129, 0.219);
  padding: 35px;
}

.footer2 h4 {
  color: rgba(0, 0, 0, 0.502);
  margin-left: 80px;
}

.footer2 img {
  width: 20px;
  height: 10px;
  margin-left: 4px;
  margin-top: 5px;
}

@media screen and (max-width: 1024px) {
  .bike {
    flex-direction: column;
    width: max-content;
  }
  .side--1 {
    height: 35rem;
    width: 100%;
  }
  .displayPic model-viewer {
    width: 500px;
    height: 440px;
    top: 1rem;
    justify-content: center;
    border: none;
  }
  .messageIcon img {
    width: 30px;
    padding: 2px;
    margin-top: 5px;
    justify-content: flex-start;
    margin-left: 10px;
  }

  .ratingIcon img {
    width: 15px;
    margin-top: 12px;
    justify-content: center;
  }

  .feedback p {
    margin-top: 12px;
    margin-left: 20px;
  }

  .secondSide {
    min-height: 100%;
    width: 100%;
  }

  .side--2 {
    margin-right: 5px;
    margin-left: 15px;
  }
  .menu {
    padding-bottom: 6px;
  }
  .menu p {
    padding-left: 15px;
    font-size: 12px;
  }

  .bike--1 {
    margin-right: 85px;
  }
  .row--1 p {
    margin-left: 200px;
  }
  .bike--2 {
    margin-right: 85px;
  }
  .sizes {
    width: 80%;
  }

  .measurement {
    display: flex;
    justify-content: flex-start;
  }
  .measurement h3 {
    font-size: 9px;
    font-weight: 600;
    padding-right: 25px;
  }

  .cm {
    display: flex;
    justify-content: flex-start;
  }
  .cm img {
    margin-left: 150px;
    width: 60px;
    height: 50px;
  }
}

@media screen and (max-width: 414px) {
  .bike {
    flex-direction: column;
    width: 100%;
  }
  .side--1 {
    height: 36rem;
    width: 100%;
  }
  .ratingIcon img {
    margin-inline-start: 50px;
  }
  .bike--1 {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
  }

  .bike--2 {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
  }

  .size {
    width: max-content;
  }
  .measurement h3 {
    font-size: 6px;
    padding-right: 10px;
  }
  .cm {
    display: flex;
    flex-direction: row;
  }
  .cm p {
    font-size: 6px;
    margin-right: 10px;
    padding: 5px;
    padding-left: 35px;
  }
  .cm img {
    margin-left: 2px;
    height: 20px;
    width: 20px;
  }

  .footer2 h4 {
    margin-left: 40px;
  }
  .size h4 {
    margin-inline-start: 60px;
    font-size: 10px;
  }
  .row--1 p {
    margin-left: 17px;
  }
}

@media screen and (min-width: 280px) {
  .size h3 {
    font-size: 8px;
    padding-top: 5px;
  }
  .size h4 {
    margin-inline-start: 15px;
    font-size: 10px;
  }
  .cm p {
    margin-right: 5px;
    padding: 5px;
    padding-left: 23px;
  }
  .cm img {
    margin-left: 2px;
    height: 20px;
    width: 20px;
  }
  .footer2 h4 {
    margin-left: 5px;
  }
}
